{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron p-4">
        <h1>{{ business.name }}</h1>
        <p class="lead">{{ business.address }}, {{ business.postCode }}</p>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            Check In
        </div>
        <div class="card-body">
            <form method="post" action="{{ url_for('checkIn', code=business.id) }}">
                <fieldset class="form-groups">
                    <!-- Name -->
                    <div class="form-group">
                        {{  checkInForm.name.label(class="form-control-label") }}

                        {% if checkInForm.name.errors %}
                            {{ checkInForm.name(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in checkInForm.name.errors %}
                                    <span>{{ err }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ checkInForm.name(class="form-control") }}
                        {% endif %}
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        {{  checkInForm.email.label(class="form-control-label") }}

                        {% if checkInForm.email.errors %}
                            {{ checkInForm.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in checkInForm.email.errors %}
                                    <span>{{ err }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ checkInForm.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <!-- Phone number -->
                    <div class="form-group">
                        {{  checkInForm.phoneNumber.label(class="form-control-label") }}

                        {% if checkInForm.phoneNumber.errors %}
                            {{ checkInForm.phoneNumber(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in checkInForm.phoneNumber.errors %}
                                    <span>{{ err }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ checkInForm.phoneNumber(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                <!-- Submit Button -->
                <div class="form-group">
                    {{ checkInForm.submit(class="btn btn-dark") }}
                </div>
                <!-- CSRF token -->
                {{ checkInForm.hidden_tag() }}
            </form>
        </div>
    </div>

    {% if userIsManager %}
        <div class="card mb-3">
            <div class="card-header">
                Export Customer Data
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('exportData', code=business.id) }}">
                    <fieldset class="form-groups">
                        <!-- Start Date -->
                        <div class="form-group">
                            {{  exportForm.startDate.label(class="form-control-label") }}

                            {% if exportForm.startDate.errors %}
                                {{ exportForm.startDate(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for err in exportForm.startDate.errors %}
                                        <span>{{ err }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ exportForm.startDate(class="form-control") }}
                            {% endif %}
                        </div>
                        <!-- End Date -->
                        <div class="form-group">
                            {{  exportForm.endDate.label(class="form-control-label") }}

                            {% if exportForm.endDate.errors %}
                                {{ exportForm.endDate(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for err in exportForm.endDate.errors %}
                                        <span>{{ err }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ exportForm.endDate(class="form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ exportForm.submit(class="btn btn-dark") }}
                    </div>
                    <!-- CSRF token -->
                    {{ exportForm.hidden_tag() }}
                </form>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Edit Business Details
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('editBusinessDetails', code=business.id) }}">
                    <fieldset class="form-groups">
                        <!-- Name -->
                        <div class="form-group">
                            {{  detailsForm.bName.label(class="form-control-label") }}

                            {% if detailsForm.bName.errors %}
                                {{ detailsForm.bName(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for err in detailsForm.bName.errors %}
                                        <span>{{ err }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ detailsForm.bName(class="form-control") }}
                            {% endif %}
                        </div>
                        <!-- Address -->
                        <div class="form-group">
                            {{  detailsForm.address.label(class="form-control-label") }}

                            {% if detailsForm.address.errors %}
                                {{ detailsForm.address(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for err in detailsForm.address.errors %}
                                        <span>{{ err }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ detailsForm.address(class="form-control") }}
                            {% endif %}
                        </div>
                        <!-- Post Code -->
                        <div class="form-group">
                            {{  detailsForm.postCode.label(class="form-control-label") }}

                            {% if detailsForm.postCode.errors %}
                                {{ detailsForm.postCode(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for err in detailsForm.postCode.errors %}
                                        <span>{{ err }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ detailsForm.postCode(class="form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ detailsForm.submit(class="btn btn-dark") }}
                    </div>
                    <!-- CSRF token -->
                    {{ detailsForm.hidden_tag() }}
                </form>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Managers
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Login</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for manager in business.managers %}
                            <tr>
                                <th scope="row">{{ loop.index0 }}</th>
                                <td>{{ manager.name }}</td>
                                <td>{{ manager.lastLogin.strftime("%H:%M %d-%m-%Y") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}