{% extends "layout.html" %}

{% block content %}
    <form method="post" action="">
        <fieldset class="form-groups">
            <header>
                <legend>Find Business</legend>
            </header>
            <!-- Code -->
            <div class="form-group">
                {{  form.code.label(class="form-control-label") }}

                {% if form.code.errors %}
                    {{ form.code(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.code.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.code(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <!-- Submit Button -->
        <div class="form-group">
            {{ form.submit(class="btn btn-dark") }}
        </div>
        <!-- CSRF token -->
        {{ form.hidden_tag() }}
    </form>
{% endblock %}