<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item{% if title == 'Find Business' %} active{% endif %}"><a class="nav-link" href="{{ url_for('home') }}">Find Business</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container">
            <!-- Success or error messages -->
            {% with f_msgs = get_flashed_messages(with_categories=true) %}
                {% if f_msgs %}
                    {% for lvl, msg in f_msgs %}
                        <div class="alert alert-{{ lvl }}">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Content -->
            {%  block content %}{% endblock %}

        </main>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>