{% extends "layout.html" %}

{% block content %}
    <form method="post" action="">
        <fieldset class="form-groups">
            <legend>Login</legend>
            <!-- Email -->
            <div class="form-group">
                {{  form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.email.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <!-- Password -->
            <div class="form-group">
                {{  form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.password.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <!-- Submit Button -->
        <div class="form-group">
            {{ form.submit(class="btn btn-dark") }}
        </div>
        <!-- CSRF token -->
        {{ form.hidden_tag() }}
    </form>
{% endblock %}