{% extends "layout.html" %}

{% block content %}
    <form method="post" action="">
        <fieldset class="form-groups">
            <header>
                <legend>Register</legend>
            </header>
            <!-- Name -->
            <div class="form-group">
                {{  form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.name.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control") }}
                {% endif %}
            </div>
            <!-- Email -->
            <div class="form-group">
                {{  form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.email.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <!-- Security Question -->
            <div class="form-group">
                {{  form.securityQuestionAnswer.label(class="form-control-label") }}

                {% if form.securityQuestionAnswer.errors %}
                    {{ form.securityQuestionAnswer(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.securityQuestionAnswer.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.securityQuestionAnswer(class="form-control") }}
                {% endif %}
            </div>
            <!-- Password -->
            <div class="form-group">
                {{  form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.password.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>
            <!-- Confirm Password -->
            <div class="form-group">
                {{  form.passwordConfirm.label(class="form-control-label") }}

                {% if form.passwordConfirm.errors %}
                    {{ form.passwordConfirm(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.passwordConfirm.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.passwordConfirm(class="form-control") }}
                {% endif %}
            </div>
            <!-- Business Token -->
            <div class="form-group">
                {{  form.businessToken.label(class="form-control-label") }}

                {% if form.businessToken.errors %}
                    {{ form.businessToken(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.businessToken.errors %}
                            <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.businessToken(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <!-- Submit Button -->
        <div class="form-group">
            {{ form.submit(class="btn btn-dark") }}
        </div>
        <!-- CSRF token -->
        {{ form.hidden_tag() }}
    </form>
{% endblock %}